<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Feira de Voluntariado</title>

  <link rel="icon" type="image/png" href="/assets/img/logo.png" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
  <!-- Nivo Lightbox -->
  <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Slideshow Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/owl.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  
  <!-- Youtube Link-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="*ngFor="let item of items; let i="up">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <a href="index.html" class="navbar-brand">
            <img style="width: 60px;" src="assets/img/logo.png" alt="">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Início
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">
                Sobre
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#program">
                Palestras
              </a>
            </li>
            
             <li class="nav-item">
              <a class="nav-link" href="#associations">
                Associações
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sponsors">
                Apoios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#curiosities">
                Curiosidades
              </a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#google-map-area">
                Contactos
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" style="background-color: #0474bb; border-radius: 5px; color: white" href="https://docs.google.com/forms/d/1KgQhHcKPU-HgARY2L0qm82O10CPB-CgRYotkThEcY3c/edit?usp=forms_home&pli=1" target="_blank">
                Quizz
              </a>
            </li>-->
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="mobile-menu">
        <li>
          <a class="page-scrool" href="#">Início</a>
        </li>
        <li>
          <a class="page-scrool" href="#about">Sobre</a>
        </li>
        <li>
          <a class="page-scroll" href="#program">Palestras</a>
        </li> 
       <li>
          <a class="page-scroll" href="#associations">Associações</a>
        </li> 
        <li>
          <a class="page-scroll" href="#sponsors">Apoios</a>
        </li>
        <li>
          <a class="page-scrool" href="#curiosities">Curiosidades</a>
        </li>
        <li>
          <a class="page-scroll" href="#google-map-area">Contactos</a>
        </li>
        <!--<li>
          <a class="page-scroll" style="background-color: #0474bb; border-radius: 5px; color: white; text-align: center" href="https://docs.google.com/forms/d/1KgQhHcKPU-HgARY2L0qm82O10CPB-CgRYotkThEcY3c/edit?usp=forms_home&pli=1" target="_blank">
            Quizz
          </a>
        </li>-->
        <!-- Mobile Menu End -->

    </nav>
    <!-- Navbar End -->


    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <video autoplay loop muted style="filter: brightness(25%)" width="100%" height="auto">
            <source src="assets/video/capa_cortado.mp4" type="video/mp4">
          </video>
          <!--<img class="d-block w-100" src="assets/img/slider/ISEP.jpg" alt="First slide" style="filter: brightness(25%)">-->
          <div class="carousel-caption d-md-block">

            <p class="fadeInUp wow" data-wow-delay=".6s">Instituto Superior de Engenharia do Porto</p>
            <h1 class="wow fadeInDown heading" data-wow-delay=".4s">I Feira de Voluntariado
              <br /> 
            </h1>
            <p class="fadeInUp wow" data-wow-delay=".6s">


              <div class="row">
                <!-- Counter Item -->
                <div class="col-md-12 col-lg-4 col-xs-12 work-counter-widget text-center">
                  <div class="counter wow fadeInRight" data-wow-delay="0.3s">
                    <p>Átrio do edifício H</p>
                  </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-4 col-xs-12 work-counter-widget text-center">
                  <div class="counter wow fadeInRight" data-wow-delay="0.6s">
                    <p>17 de Abril de 2023
                    </p>
                  </div>
                </div>
                <!-- Counter Item -->
                <div class="col-md-6 col-lg-4 col-xs-12 work-counter-widget text-center">
                  <div class="counter wow fadeInRight" data-wow-delay="0.6s">
                    <p>14h-19h
                    </p>
                  </div>
                </div>
              </div>

            <br/>
            <a href="#associations" class="fadeInLeft wow btn btn-common btn-lg page-scroll" data-wow-delay=".6s">Associações</a>
            <a href="#curiosities" class="fadeInLeft wow btn btn-common btn-lg page-scroll" data-wow-delay=".6s">Curiosidades</a>
            <!--<a class="fadeInLeft btn btn-common btn-lg page-scroll" data-wow-delay=".6s" style="background-color: #0474bb !important; color: white !important" href="https://docs.google.com/forms/d/1KgQhHcKPU-HgARY2L0qm82O10CPB-CgRYotkThEcY3c/edit?usp=forms_home&pli=1" target="_blank">
              Quizz
            </a>-->

            <div class="row mb-30 text-center wow fadeInLeft" data-wow-delay="0.3s">
          
            <!-- Slideshow -->
              <p class="services">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      
                      <div class="owl-service-item owl-carousel">
                      
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0026.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0027.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Teachers</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0028.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Students</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0029.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0030.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>

                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0031.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0032.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0033.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0034.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0035.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>

                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0036.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0037.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div>
                        
                        <div class="item">
                          <div class="icon">
                            <img src="assets/img/slideshow/IMG-20230415-WA0038.jpg" alt="">
                          </div>
                          <div class="down-content">
                            <!--<h4>Best Education</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p> -->
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Carousel Section End -->

  </header>
  <!-- Header Area wrapper End -->

  <!-- Coundown Section Start -->
  <!-- <section style="background: #34558b;" class="countdown-timer section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="color: #fff" class="section-title">
            <h2 class="wow fadeInDown" data-wow-delay="0.2s">Faltam</h2>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
            <div id="clock" class="time-count"></div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Coundown Section End -->

  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sobre a Feira de Voluntariado</h2>
          </div>
        </div>
      </div>    
      
      <div class="row services-wrapper">
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
          <div class="services-item wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon">
              <i class="lni-users"></i>
            </div>
            <div class="services-content">
              <h3>
                <a href="#">Informação</a>
              </h3>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
          <div class="services-item wow fadeInDown" data-wow-delay="1s">
            <div class="icon">
              <i class="lni-heart"></i>
            </div>
            <div class="services-content">
              <h3>
                <a href="#">Compaixão</a>
              </h3>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
          <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
            <div class="icon">
              <i class="lni-world-alt"></i>
            </div>
            <div class="services-content">
              <h3>
                <a href="#">Partilha</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />

      <div class="text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.6s">
          <h4>E se o mundo acabasse amanhã? Tinhas feito a diferença?</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-6 wow fadeInUp ">
          <p style="text-align: justify; text-justify: inter-word;">
            É este o mote que move a aeISEP a apresentar a 1ª Edição da Feira de Voluntariado! Este evento é para todos os estudantes que querem fazer a diferença mas não sabem como começar, é o primeiro passo para experiencias que irão mudar a forma como veêm o mundo e ensinar lições que mudarão a prespetiva de cada um. 
          </p>
        </div>
        <div class="col-6 wow fadeInUp ">


          <p style="text-align: justify; text-justify: inter-word;">
            Terás a oportunidade de ficar a conhecer as várias associações presentes, descobrir as suas missões e como fazer a diferença. Para além desta vertente, tens ainda a oportunidade de aprender com quem participa ativamente nesta mudança durante as palestras!
            <br />
            Ficaste interessado? Descobre mais nesta plataforma e visita a nossa feira!


          </p>

        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- program Section Start -->
    
  <section id="program" class="section-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Palestras</h1>
            <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
              <div class="row" >
                <div class="center-logo col-md-6 col-sm-6 col-xs-12" >
                  <div class="spnsors-logo" style="padding: 10px;">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBxEFzLo42FP4AWAlAb8H4fjeR42MjFjWjBU4oT-xwSiyBkw/viewform" target="_blank">
                    <img class="img-fluid" src="assets/img/palestras/pal2.jpeg" alt="">
                  </div>
                </div>
                <div class="center-logo col-md-6 col-sm-6 col-xs-12">
                  <div class="spnsors-logo" style="padding: 10px;">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBxEFzLo42FP4AWAlAb8H4fjeR42MjFjWjBU4oT-xwSiyBkw/viewform" target="_blank">
                    <img class="img-fluid" src="assets/img/palestras/pal1.jpeg" alt="">
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </section>



  <!-- program Section End -->

  <!-- Team Section Start -->
  <section id="associations" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Associações</h1>
          </div>
        </div>
      </div> 
    </div>

    <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
      <div class="row" >
        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://justachange.pt/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/justachange.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://thirstproject.pt/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/WhatsApp Image 2023-04-15 at 13.11.05 (1).jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://instagram.com/rotaractclubporto?igshid=YmMyMTA2M2Y=" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/rotaract.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://vou.pt/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/vou.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://casa-apoioaosemabrigo.org/index.php/delegacoes/casa-porto" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/casaporto.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://semearfuturo.pt/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/semearfuturo.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://ajudahoje2021.wixsite.com/website-1" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/ajudahj.jpg.png" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://paraonde.org/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/paraonde.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://www.ajudaris.org/site/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/ajudaris.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://jatexplico.pt/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/explico.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://www.centrosocialsoutelo.org/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/centrosoutelo.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://www.fap.pt/comunidade-e-inclusao/fap-no-bairro" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/fapnobairro.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://www.centronicolau.org/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/saonicolau.jpeg" alt="">
          </div>
        </div>

        <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
          <div class="spnsors-logo" style="padding: 10px;">
            <a href="https://www.bancoalimentar.pt/bancos/porto/" target="_blank">
            <img class="img-fluid" src="assets/img/associaçoes/bancoalimentar.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>          

  </section>

 

  <!-- Team Section End -->


  <!-- Sponsors Section Start -->
  <section id="sponsors" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Apoios</h1>
            <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">

              <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
                <br><div class="spnsors-logo" style="padding: 10px;">
                  <a href="https://www.aeisep.pt/" target="_blank">
                    <img class="img-fluid" src="assets/img/APOIOS/aeISEP.png" alt="">
                  </a>
                </div>
              </div>

              <div class="col-md-4 mx-auto col-sm-4 col-xs-12">
                <br><div class="spnsors-logo" style="padding: 10px;">
                  <a href="https://www.eurest.pt" target="_blank">
                    <img class="img-fluid" src="assets/img/APOIOS/Eurest.png" alt="">
                  </a>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div> 
    </div>
  </section>

  <!-- Sponsors Section End -->

  <!-- Ask Question Section Start -->
  <section id="curiosities" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Curiosidades</h1>
            <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">

              <div class="row">
                <div class="center-logo col-md-6 col-sm-6 col-xs-12">
                  <div class="spnsors-logo" style="padding: 10px;">
                    <img class="img-fluid" src="assets/img/curiosidades/Imagem11.png" alt="">
                  </div>
                </div>
          
                <div class="center-logo col-md-6 col-sm-6 col-xs-12">
                  <div class="spnsors-logo" style="padding: 10px;">
                    <img class="img-fluid" src="assets/img/curiosidades/Imagem12.png" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!--  

    <div class="row">

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem1.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem2.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem3.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem4.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem5.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem6.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem7.png" alt="">
        </div>
      </div>

      <div class="center-logo col-md-3 col-sm-3 col-xs-4">
        <div class="spnsors-logo" style="padding: 10px;">
          <img class="img-fluid" src="assets/img/curiosidades/Imagem8.png" alt="">
        </div>
      </div>

    </div>-->

  </section>
  <!-- Ask Question Section End -->
  
  <div class="row">
    <div class="col-12">
      <div class="section-title-header text-center">
        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Contactos</h1>
      </div>
    </div>
  </div>

  <!-- Map Section Start -->
  <section id="google-map-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11693.206395977584!2d-8.609552564777776!3d41.179209540413424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246449b419e1c1%3A0x16a6fd2fcace4efe!2sISEP+-+Instituto+Superior+de+Engenharia+do+Porto!5e0!3m2!1spt-PT!2spt!4v1548521040644"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- Map Section End -->


  <!-- Counter Area Start-->
  <section class="counter-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Counter Item -->
        <div class="col-md-4 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon">
              <i class="lni-map"></i>
            </div>
            <p>ISEP</p>
            <span>Rua Dr. António Bernardino de Almeida, <br />
            431, 4200-072 Porto</span>
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-4 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon">
              <i class="lni-phone"></i>
            </div>
            <p>Telefone</p>
            <span>+351 964 783 603
          </div>
        </div>
        <!-- Counter Item -->
        <div class="col-md-4 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.9s">
            <div class="icon">
              <i class="lni-users"></i>
            </div>
            <p>Email</p>
            <span> social@aeisep.pt
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Area End-->


  <!-- Footer Section Start -->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
            <img style="height: 120px;" src="assets/img/logo.png" alt="">
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3>LINKS ÚTEIS</h3>
          <ul>
            <li>
              <a href="https://aeisep.pt" target="_blank">aeISEP</a>
            </li>
            <li>
              <a href="https://www.isep.ipp.pt" target="_blank">Site oficial ISEP</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
          <h3>REDES SOCIAIS</h3>

          <!-- /.widget -->
          <div class="widget">
            <ul class="footer-social">
              <li>
                <a class="facebook" href="https://www.facebook.com/aeISEP/" target="_blank">
                  <i class="lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a class="instagram" href="https://www.instagram.com/aeisep/" target="_blank">
                  <i class="lni-instagram-filled"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info">
            <p>© 2023 
              <a href="http://aeisep.pt" rel="nofollow">aeISEP</a>
              Dep. Informático. Todos os direitos reservados.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <div id="preloader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assets/js/jquery-min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.easing.min.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/jquery.slicknav.js"></script>
  <script src="assets/js/nivo-lightbox.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/form-validator.min.js"></script>
  <script src="assets/js/contact-form-script.min.js"></script>
  <script src="assets/js/map.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>

</body>

</html>
